h1{
    color: rgb(255, 0, 0);
}

body {
    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#city {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    width: 200px;
}

button {
    background-color: #afaa4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #98a045;
}

.weather-info {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.weather-info.error {
    color: red;
}
